---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Timo Strotmann. All rights reserved.
	<div class="social-links">
		<a href="/legal-notice">Legal Notice</a>
		<span aria-hidden="true">·</span>
		<a href="/privacy-policy">Privacy Policy</a>
	</div>
</footer>
<style>
	footer {
		padding: 1rem;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.85rem;
	}
</style>
